* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2; /* Fondo gris claro */
    color: #333; /* Texto gris oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    font-size: 3em;
    color: #000; /* Texto negro */
    background-color: #e0e0e0; /* Fondo gris intermedio */
    padding: 20px;
    border: 4px solid #a6a6a6; /* Borde gris oscuro */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}