<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/styles/login.css">
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form method="post">
            {{ form.hidden_tag() }}
            <div>
                {{ form.email.label }}<br>
                {{ form.email }}
            </div>
            <div>
                {{ form.password.label }}<br>
                {{ form.password }}
            </div>
            <div>
                {{ form.remember_me }} {{ form.remember_me.label }}
            </div>
            <div>
                {{ form.submit }}
            </div>
        </form>
    </div>
</body>
</html>